* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 80vh;
}

.navbar a {
  padding: 5px 15px;
}

.content {
  padding: 15px;
}

.booking {
  height: 40vh;
}

.booking h2 {
  font-size: 50px;
}

.reservation {
  margin: 10px;
  width: auto;
}

.facility img {
  height: 250px;
  width: 200px;
}

.provide {
  height: 50vh;
}

.provide::before {
  content: "";
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  height: 50%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
}

.element p {
  margin: 15px;
}

.feedback img {
  margin-bottom: 15px;
}

.identity {
  margin-bottom: 10px;
  margin-right: 15px;
}

.client {
  display: flex;
  flex-direction: column;
}

.contact::before {
  content: "";
  height: 48%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
}

.details {
  display: flex;
  justify-content: space-evenly;
  grid-gap: 180px;
}

.address {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px;
  padding-left: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 3;
  margin-bottom: 0px;
  padding-right: 0px;
}

.form input {
  line-height: 2;
  width: 250px;
  border: none;
  border-radius: 5px;
}

.form .msg {
  width: 250px;
  height: 100px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}
